<!-- Spotlight -->
<div class="row clearfix">
  <div class="col-md-12 column">
		<div class="jumbotron well">
			<h1>
				Pin the Tail on the Story.
			</h1>
			<h2>What if grammar were fun?
        We're out to prove it can be.</h2>
			<p>
				Start by filling in the missing words in stories that someone else has written (<em>a la</em> <span>Mad Libs®)</span><span>, choosing the most absurd and off-the-wall words you can think of that fit the description given.</span>
			</p>
			<p>
				<span>When you're ready to move ahead, you can create your own stories, and replace specific words with a description of the sort of word that would fit in the sentence in that place. Unleash your story to the world, and see what madness ensues</span><span>.</span>
			</p>
			<p>
				You can even fill out or compose a story with other people, even if you're in different places. <span>Just select a username, and send a link to your collaborators, and they'll be able to help you compose or fill out the same story, in real time.</span>
			</p>
			<p>
				Need help understanding the grammar? Send the link to a teacher or friend who can help.
			</p>
			<p>
				<a class="btn btn-primary btn-large" href="#">Give It A Try</a>
			</p>
		</div>
	</div>
</div>




<!-- Three-up Stories -->

<!-- <div class="row clearfix">
	<div class="col-md-4 column">
		<h2>
			{{ story.title }}
		</h2>
		<p>
			Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
		</p>
		<p>
			<a class="btn" href="#">View details »</a>
		</p>
	</div>
	<div class="col-md-4 column">
		<h2>
			{{ story.title }}
		</h2>
		<p>
			Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
		</p>
		<p>
			<a class="btn" href="#">View details »</a>
		</p>
	</div>
	<div class="col-md-4 column">
		<h2>
			{{ story.title }}
		</h2>
		<p>
			Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
		</p>
		<p>
			<a class="btn" href="#">View details »</a>
		</p>
	</div>
</div> -->
